/* CSS Document */
@charset "utf-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #ffffff;
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
   
}

header a {
    color: #ffffff;
    text-decoration: none;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    color: #ffffff;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}




.hero {
    height: 800px;
    width: 100%;
    display: block;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*
.content {
    display: inline-block;
    width: 75%;
    background-color: #0072bb;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}
*/



/*
.float-left {
    
}

.float-right {
    float: right;
    margin-left: 25px;
}


/*
.search-engine-optimization {
   
}
*/

.section {
    width: 75%;
    background-color: #0072bb;
    margin: 0px 0px 20px 20px;
    height: 300px; 
    
    flex:1 75%;
}

.section h2 p {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    
    
}

.section h2 {
    
    font-size: 36px;
    margin-bottom: 20px;
    
}




.section-img img {
    display: inline-flex;
    float: left;
    max-height: 100%;
    max-width: 250px;
    margin: 50px 25px 50px 50px;
    flex: 1 33%;
}

.section-img2 img {
    display: inline-flex;
    max-height: 250px;
    max-width: 250px;
    margin-left: 75%;
    flex: 1 33%;   
    
    
}


/*
.benefit-img img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}



.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}



.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


*/
/*
.Benefit-section {
    margin-right: 20px;
    margin-left: 75%;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.Benefit-section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}





*/

/*
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}



.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

*/

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
